.profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px 40px;
    max-width: 350px;
    background: #f5f5f5;
    border-radius: 7px;
}

.profile-pic {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}

p {

    text-align: left;
}

.profile .btn {
    margin-top: 20px;
}