.main-navigation {
    margin-bottom: 30px;
}

.nav-item {
    margin: 0 20px;
    cursor: pointer;
}

.navbar-brand span {
    font-family: 'Roboto Slab', serif;
    margin: auto;

    font-weight: 800;
    padding-left: 0;
    vertical-align: middle
}

.navbar-brand svg {

    display: inline-block;
    vertical-align: middle
}

.navbar-brand {
    vertical-align: middle !important;
}