/* .calendar-wrapper {
  display: flex;
  flex-direction: row;
}

.selectedEvent {
  border: 5px solid red;
  margin: 0 10%;
  padding: 2%;
  height: 450px;
  width: 40%;
}
 */

.main-calendar-container {
  margin: 60px 5%;
  width: 90%;
}

.calendar-wrap {
  display: flex;
  margin: 70px auto;

}

.calendar {
  background: #f7f7f7;
  width: 1000px;
  height: 550px;
  margin: 0 50px;
  padding: 20px;
  font-size: 14px;
  border: 1px solid #dddddd;

}

.rbc-event {
  background: #dc3545;
  font-size: 12px;

}

.rbc-event:hover {
  background: #9e212e;
}

.rbc-selected {
  background: #9e212e !important;
}

.event-details {
  width: 500px !important;
}

.event-details .card-header {
  text-align: center;

}

.event-details .card-text {
  font-size: 22px;
}

.event-details .card-text span {
  display: block;
  font-weight: bold;
}

.event-details .card-text span:first-of-type {
  margin-top: 20px;
}

nav.buttons {
  text-align: center;
}

.buttons button {
  margin: 10px;
}

.selected-event {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: middle !important;
}

.event-image {
  max-width: 500px;
  height: auto;
  opacity: .3;
}