html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'Poppins',
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  margin: 40px auto;
  max-width: 50% !important;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif, monospace;
  margin: 20px 0;
}

.main-home {
  text-align: center;
}

.main-logo {
  max-width: 400px;
}